<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vacation in europe</key>
	<array>
		<string>Europe is pretty awesome if you go in the summer.</string>
		<string>Anyway give me a second to wipe the choice set data.</string>
		<string>.WIPECHOICESET:vacation spots</string>
		<string>OK so what about Europe again?</string>
		<string>It&apos;s pretty awesome.</string>
	</array>
	<key>vacation in canada</key>
	<array>
		<string>Do you mean like the Canadian Alps, or the big cities?</string>
		<string>I&apos;ll wipe the choice set first.</string>
		<string>.WIPECHOICESET:vacation spots</string>
		<string>So yeah, Canada has some surprisingly good food.</string>
		<string>It&apos;s pretty chilly though.</string>
	</array>
	<key>vacation in thailand</key>
	<array>
		<string>Bangkok or the beaches in the south?</string>
		<string>Let me wipe the choice set data first</string>
		<string>.WIPECHOICESET:vacation spots</string>
	</array>
	<key>vacation in hawaii</key>
	<array>
		<string>Yeah, Hawaii is pretty sweet.</string>
		<string>.WIPECHOICESET:vacation spots</string>
		<string>Also I wiped the choice sets just now.</string>
		<string>I don&apos;t know what else to say about this.</string>
	</array>
	<key>sketch</key>
	<array>
		<string>.SETSPRITEALIAS:matsuri:sketchmatsuri_close.png</string>
		<string>.ADDSPRITE:matsuri</string>
		<string>Matsuri reappears, but now she just looks like a sketch of an anime girl.</string>
		<string>.ISFLAGMORETHAN:matsuri_color:0:You shouldn&apos;t see this.</string>
		<string>.ISFLAGLESSTHAN:matsuri_color:1:The sketch version is more &quot;pure,&quot; I suppose?</string>
		<string>Well, that&apos;s it for now!</string>
	</array>
	<key>color</key>
	<array>
		<string>.SETSPRITEALIAS:matsuri:matsuri_close.png</string>
		<string>.ADDSPRITE:matsuri</string>
		<string>Matsuri reappears, in color again!</string>
		<string>.ISFLAGMORETHAN:matsuri_color:0:The colorful version is better, I&apos;d say.</string>
		<string>.ISFLAGLESSTHAN:matsuri_color:1:You shouldn&apos;t see this.</string>
		<string>Well, that&apos;s that for now!</string>
	</array>
	<key>showchoicejumptest</key>
	<array>
		<string>Alright, we&apos;re going to test the .SHOWCHOICEANDJUMP command.</string>
		<string>.SHOWCHOICEANDJUMP:Do you want to go to the moon or to Mars?:The Moon, baby!:spacemoon:Mars is cooler:spacemars</string>
	</array>
	<key>start</key>
	<array>
		<string>.setspeaker:Mysterious Narrator!</string>
		<string>Hello.</string>
		<string>.SETBACKGROUND:pond.png</string>
		<string>Hey, a background!</string>
		<string>.SETFLAG:ninethousand:9000</string>
		<string>.SETFLAG:one:1</string>
		<string>.SETFLAG:overninethousand:9001</string>
		<string>.ISFLAGMORETHANFLAG:overninethousand:ninethousand:Over Nine Thousand is indeed greater than Nine Thousand</string>
		<string>.SETFLAG:powerlevel:9001</string>
		<string>.ISFLAGEQUALTOFLAG:powerlevel:overninethousand:The power level is also Over Nine Thousand</string>
		<string>.SETFLAG:scouter:8999</string>
		<string>.ISFLAGLESSTHANFLAG:scouter:ninethousand:The scouter&apos;s max scan is under nine thousand.</string>
		<string>.INCREASEFLAGBYFLAG:scouter:one</string>
		<string>.ISFLAGEQUALTOFLAG:scouter:ninethousand:Actually, the scouter can now reach exactly nine thousand.</string>
		<string>I really hoped all those flag-related commands worked.</string>
		<string>.ROLLDICE:20</string>
		<string>.ADDTOCHOICESET:vacation spots:vacation in hawaii:&quot;Hawaii&quot;</string>
		<string>.ADDTOCHOICESET:vacation spots:vacation in thailand:&quot;Thailand&quot;</string>
		<string>.ADDTOCHOICESET:vacation spots:vacation in canada:&quot;Canada&quot;</string>
		<string>.ADDTOCHOICESET:vacation spots:vacation in europe:&quot;Europe&quot;</string>
		<string>Where do you want to go on vacation?</string>
		<string>.SHOWCHOICESET:vacation spots</string>
		<string>Also, I&apos;m going to change the font name.</string>
		<string>.SETSPEECHFONT:Courier New</string>
		<string>How does this look?</string>
		<string>.ROLLDICE:6:10</string>
		<string>Now let&apos;s change the speaker font.</string>
		<string>.SETSPEAKERFONT:Times New Roman</string>
		<string>Now how does that look?</string>
		<string>.SETFLAG:luck_modifier:9999</string>
		<string>.ROLLDICE:6:10:luck_modifier</string>
		<string>Let&apos;s change some sizes too.</string>
		<string>.SETSPEAKERFONTSIZE:15.0</string>
		<string>.SETSPEECHFONTSIZE:13.0</string>
		<string>OK, that might be too tiny. But whatever, let&apos;s get on with it!</string>
		<string>.ADDSPRITE:matsuri_close.png</string>
		<string>Suddenly, an anime girl appears!</string>
		<string>.FLIPSPRITE:matsuri_close.png</string>
		<string>Gonna try and save the game now...</string>
		<string>.SYSTEMCALL:AUTOSAVE</string>
		<string>Also hopefully this got saved.</string>
		<string>.SETSPEAKER:Matsuri</string>
		<string>Hi, my name is Matsuri.</string>
		<string>.SETSPEAKER:nil</string>
		<string>You&apos;ve now met your first character.</string>
		<string>.PLAYMUSIC:music01.mp3</string>
		<string>.ALIGNSPRITE:matsuri_close.png:left</string>
		<string>.ALIGNSPRITE:matsuri_close.png:right</string>
		<string>.ALIGNSPRITE:matsuri_close.png:center</string>
		<string>Is she... dancing?</string>
		<string>.PLAYMUSIC:nil</string>
		<string>.REMOVESPRITE:matsuri_close.png</string>
		<string>The music stops, and the girl disappears.</string>
		<string>That wasn&apos;t strange at all.</string>
		<string>.SETFLAG:betweenFlag:2</string>
		<string>.ISFLAGBETWEEN:betweenFlag:1:3:Hey, the betweenFlag is between 1 and 3!</string>
		<string>.SETFLAG:betweenFlag:0</string>
		<string>.ISFLAGBETWEEN:betweenFlag:1:3:Wait, betweenFlag is zero, so you shouldn&apos;t see this!</string>
		<string>.SETFLAG:betweenFlag:4</string>
		<string>.ISFLAGBETWEEN:betweenFlag:1:3:Woah, betweenFlag is FOUR so you shouldn&apos;t see this!</string>
		<string>.SYSTEMCALL:AUTOSAVE</string>
		<string>Would you prefer Matsuri to have color, or not?</string>
		<string>.SETFLAG:matsuri_color:0</string>
		<string>.MODIFYFLAGBYCHOICE:&quot;She should have color&quot;:matsuri_color:1:No color is better:matsuri_color:0</string>
		<string>Well, you&apos;ve made your choice.</string>
		<string>.ISFLAG:matsuri_color:1:You like the full-color version better, huh?</string>
		<string>.ISFLAG:matsuri_color:0:You like the non-colored version better?</string>
		<string>.JUMPONFLAG:matsuri_color:1:color</string>
		<string>.SETCONVERSATION:sketch</string>
	</array>
	<key>spacemars</key>
	<array>
		<string>You&apos;re right, it&apos;s better to go to Mars.</string>
		<string>Maybe you can find the rover that went there.</string>
		<string>Also, at least there&apos;s some atmosphere.</string>
		<string>Even if it&apos;s just CO2.</string>
		<string>I wonder if all that red would get weird after a while?</string>
	</array>
	<key>spacemoon</key>
	<array>
		<string>Let&apos;s be real, the moon would be more practical.</string>
		<string>And a moon base would be pretty awesome.</string>
		<string>Plus you can look up at the sky and see Earth, which is pretty awesome.</string>
		<string>I wonder if there&apos;s any flags left standing on the moon?</string>
	</array>
</dict>
</plist>
